<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WebPublisherDB" value="data source=(local);database=WebPublisher;Integrated Security=SSPI;persist security info=True;"/>
    <add key="PublishInterval" value="100"/>
    <add key="PublishSheets" value="strategy!Position"/>
  </appSettings>
</configuration>