<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WebPublisherDB" value="data source=(local);database=WebPublisher;Integrated Security=SSPI;persist security info=False;User ID=webpublisher;Password=Freda99;"/>
    <add key="PublishInterval" value="100"/>
    <add key="PublishSheets" value="Sheet1!Position"/>
  </appSettings>
</configuration>