div.card-table {
    max-width: 98%;
    overflow-x: scroll;
}

table tbody td {
    white-space: nowrap;
    overflow: hidden;
}

table tbody tr:hover {
    background-color: lightgray !important;
    cursor: pointer;
}

a.s-sheetname {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* Table style */  
div.card-table table tr:nth-child(1) td {
    text-align: center;
    font-weight: bold;
}
  
div.card-table table tr td.s-td-number {
    text-align: right;
}


/* Warning Table style */  
div.s-warning table.table-striped tr:nth-child(odd) {
    background-color: #fcf8e3;
}

div.s-warning table.table-striped tr:nth-child(odd) > * {
    --bs-table-accent-bg: none;
}


/* Alert Table style */  
div.card-table tr.s-alert {
    background-color: #f2dede !important;
}

div.card-table tr.s-alert td {
    color: #a94442 !important;
    font-weight: bold;
}

/*.bg-success {
    background-color: #144c7c !important;
    background-color: #0374b8 !important;
}

.border-success {
    border-color: #144c7c !important;
}*/